<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header col-md-12">
	      <a class="navbar-brand" href="#">
	        <p>PlayList creator</p>
	      </a>
	      <form class="navbar" role="search">
  			<div class="form-group">
    		<input type="text" class="form-control" placeholder="artist, artist1, artist2" ng-model="searchParams">
				<br>
    		<input type="text" class="form-control" placeholder="Playlist name" ng-model="playlistName">
  			</div>
  			<button type="submit" class="btn btn-default" ng-click="search()">Crear</button>
		</form>
	    </div>
	  </div>
</nav>
<div class=" row col-md-12 text-center row-fluid" ng-if="showPlaylist" >
			<div class="playlist col-md-12"  ng-model='showPlaylist'>
				<iframe ng-src="{{trustSrc(iframeUrl.url)}}" ng-model='iframeUrl' height="380" frameborder="0" allowtransparency="true"></iframe>
			</div>
</div>
